body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: #222;
    color: black;
    padding: 15px;
}

nav a {
    color: red;
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background: #222;
    color: black;
    text-align: center;
    padding: 10px;
}

.buton {
  display: inline-block;
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
}

.buton:hover {
  background-color: #45a049;
}


